<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">

    <title>Giriş Yap</title>
</head>
<body>
  <div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" action="{{ url_for('login') }}" method="post">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" class="login__input" placeholder="Kullanıcı Adı" id="username" name="username" required>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" class="login__input" placeholder="Şifre" id="password" name="password" required>
				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Giriş</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
			</form>
            <br>
        <a href="{{ url_for('index') }}">Ana Sayfa</a>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>
{% if success_message %}
    <script>
        alert("{{ success_message }}");
    </script>
{% endif %}
</body>
</html>
